.searchbar-container{
    display: flex;
    flex-direction: column;
}

.search-container, .filter-container{
    display: flex;
    column-gap: 20px;
}

.inputs-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.input-search{
    width: 300px;
}

.input-search, .input-date{
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: rgb(250, 246, 246);
}

.btn-search{
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(54, 54, 54);
    color: white;
    height: 25px;
    cursor: pointer;
    margin-top: 2px;
}

.btn-search:hover{
    background-color: rgb(250, 246, 246);
    color: black;
}

.text-results{
    color: black;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

@media screen and (max-width: 768px){
    .inputs-container{
        display: flex;
        flex-direction: column;
    }

    .input-date{
        width: 150px;
    }   

    .search-container, .filter-container{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .filter-container{
        column-gap: 62px;
    }

    .text-results{
        padding-right: 50px;
    }

    @media screen and (max-width: 480px){
        .search-container, .filter-container{
            padding-left: 20px;
            padding-right: 20px;
        }

        .text-results{
            padding-right: 20px;
        }
    }
}
